<!DOCTYPE html>
<html>
  <head>
    <title>MeowifyApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="columns">
      <div class="sidenav column is-one-fifth">
        <%= render 'layouts/sidenav' %>
      </div>

      <div class="column is-four-fifths">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
